.OurDogContainer > .Navigation {
	/*border: 2px solid blue;*/
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
.OurDogContainer > .Navigation > span {
	font-family: 'Abril Fatface', cursive;
	font-weight: 900;
	letter-spacing: 1px;
	/*border: 2px solid red;*/
	margin-right: 30px;
	cursor: pointer;
}
.OurDogContainer > .Navigation > span:hover {
	font-style: italic;
}
.GroupOne {
	display: flex;
}
.GroupTwo {
	display: flex;
}