.ShowDogContainer {
	margin: 30px;
	display: flex;
}

.ShowDogContainer > .One > img {
	width: 300px;
}

.ShowDogContainer > .Two > h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 30pt;
	letter-spacing: 3px;
}


.ShowDogContainer > .Two {
	margin-left: 30px;
}