.Home {
	display: flex;
}
.Home > aside {
	width: 500px;
	/*border: 2px solid blue;*/
	margin-right: 80px;
}
.Home > aside > h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 40pt;
	letter-spacing: 3px;
	margin-bottom: 60px;
}
.Home > aside > h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	font-weight: 800;
	letter-spacing: 1px;
	margin-top: 40px;
	margin-bottom: 10px;
}
.Home > aside > p {
	font-family: 'Open Sans', sans-serif;
	line-height: 25px;
}
.Home > main {
	display: flex;
}
.Home > main > .One > img {
	width: 400px;
	margin-right: 30px;
}
.Home > main > .Two > img {
	width: 350px;
}
.Home > main > .Two > p {
	background-color: #c4eee6;
	line-height: 25px;
	padding: 20px;
	margin-top: 28px;
	width: 350px;
	height: 333px;
}