.App {
	/*border: 2px solid black;*/
	margin: 30px;
}

.App > .Navigation {
	text-align: right;
	/*border: 2px solid gray;*/
	margin-bottom: 30px;
}

.App > .Navigation > span {
	font-family: Bodini;
	font-weight: bold;
	/*border: 2px solid red;*/
	margin-left: 20px;
	cursor: pointer;
}

.App > .Navigation > span:hover {
	font-style: italic;
}
