.App {
	/*border: 2px solid black;*/
	margin: 30px;
}

.App > .Navigation {
	display: flex;
	justify-content: flex-end;
	/*border: 2px solid gray;*/
	margin-bottom: 30px;
}

.App > .Navigation > span {
	font-family: 'Abril Fatface', cursive;
	font-weight: 900;
	letter-spacing: 1px;
	/*border: 2px solid red;*/
	margin-left: 20px;
	margin-right: 20px;
	cursor: pointer;
}

.App > .Navigation > span:hover {
	font-style: italic;
}

.App > .Navigation > .LoggedMessage {
	font-family: 'Playfair Display', serif;
	letter-spacing: .5px;
	/*border: 1px solid blue;*/
	margin-left: 20px;
}

.App > .Navigation > .LoggedMessage > b {
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 1px;
	text-transform: capitalize;
}
